{% extends 'index.html'%}
{% load static%}

{% block extraHeadTag %}
    <link rel="stylesheet" href="{%static 'css\about.css' %}">
    <script src="{%static 'js\about.js' %}"></script>
    
{%endblock%}

{%block content%}

    <div class="container">
        <!-- START THE FEATURETTES -->
        <h1 class="featurette-heading fw-bold lh-1">Welcome to Nursing Home Care</h1>
        <p class="lead p-5">At Nursing Home Care, we are dedicated to providing exceptional care and support to the elderly
            in our community. Our mission is to offer a safe, nurturing environment where our residents can enjoy a
            quality of life surrounded by compassion and respect.There are raising needs for home care these days
            according to the individual age distribution around some countries. So, we thought to make a web application
            to meet these needs by allowing geriatric to be able to order a nurse who will been applied in our
            applicating and are free to go home and ordering our services to whom need it.
        </p>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Our Mission. <span class="text-body-secondary">It’ll blow
                        your mind.</span></h2>
                <p class="lead p-2">Our mission is to enhance the lives of our residents by providing personalized,
                    high-quality care in an environment that fosters comfort, security, and dignity. We believe every
                    individual deserves to spend their later years with the utmost care and respect.
                    </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" src="{% static 'images\our_mission.jpeg' %}" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" />
                    <text x="50%" y="50%"fill="var(--bs-secondary-color)" dy=".3em"></text>
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">


        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Our vision. <span class="text-body-secondary">yaah.</span>
                </h2>
                <p class="lead p-2">Our vision is to be recognized as the leading provider of nursing home care in the
                    region, known for our commitment to enhancing the standards of elderly care and our dedication to
                    innovative, compassionate services.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" src="{% static 'images\our vision.jpeg' %}" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%"
                        fill="var(--bs-secondary-color)" dy=".3em"></text>
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">And lastly, Our Services. <span
                        class="text-body-secondary">Checkmate.</span></h2>
                <p class="lead p-2"> Nursing Home Care offers a range of services designed to meet the varying needs of our
                    residents:
                    24-hour skilled nursing care
                    Rehabilitation services including physical therapy
                    Social and recreational activities
                    Nutritious.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                    height="500" src="{% static 'images\our services.jpeg' %}" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%"
                        fill="var(--bs-secondary-color)" dy=".3em"></text>
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->
    </div>
    <div class="team"><span>OUR TEAM</span></div>
    <div class="container">
        <div class="card">
            <div class="card-image loading"><img
                    src="{%static 'images\abdallah pic.jpeg'%}"
                    alt="abdallah pic" /></div>
            <div class="card-info">
                <h3 class="card-title loading"><span>Abdallah <span class="yellow-surname">Shomman</span></span></h3>
                <p class="card-description loading">
                    <span class="personal-info">
                        <span class="info"></span> Web Developing Head<br>
                        Pursuing IT Engineering  <br>
                        Email: <a href="mailto:'abdulla.a96@outlook.com'">abdulla.a96@outlook.com
                            </a>
                    </span>
                </p>
                <div class="card-mediaIcons">
                    <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://github.com/Abdullah-Shoman" class="loading" target="on_blank"><i><img
                                src="{%static 'images\github.jpg'%}"
                                alt="github link"></a></i>
                    <a href="#" class="loading" target="on_blank"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image loading"><img
                    src=""
                    alt="baroud pic" /></div>
            <div class="card-info">
                <h3 class="card-title loading"><span>Mohammed <span class="yellow-surname">Baroud</span></span></h3>
                <p class="card-description loading">
                    <span class="personal-info">
                        <span class="info"></span> Web Developing Assistant<br>
                        Pursuing IT Engineering <br>
                        Email: <a href="mailto:'baroud1997@hotmail.com'">baroud1997@hotmail.com</a>
                    </span>
                </p>
                <div class="card-mediaIcons">
                    <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://github.com/Baro0oud" class="loading" target="on_blank"><i><img
                                src="{%static 'images\github.jpg'%}"
                                alt="github link"></i></a>
                    <a href="#" class="loading" target="on_blank"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image loading"><img class="anwar"
                    src="{%static 'images\anwar pic.jpeg'%}"
                    alt="anwar pic" width="350px" /></div>
            <div class="card-info">
                <h3 class="card-title loading"><span>Anwar <span class="yellow-surname">Khanfa</span></span></h3>
                <p class="card-description loading">
                    <span class="personal-info">
                        <span class="info">Graphic Designing Head</span> <br>
                        Pursuing IT Engineering <br>
                        Email: <a href="mailto:'khanfaanwar@gmail.com'">khanfaanwar@gmail.com</a>
                    </span>
                </p>
                <div class="card-mediaIcons">
                    <a href="https://www.facebook.com/anwar.khanfa.9" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://github.com/AnwarKhanfa" class="loading" target="on_blank"><i><img
                                src="{%static 'images\github.jpg'%}"
                                alt="github link"></a></i>
                    <a href="https://www.instagram.com/anwarkhanfa/" class="loading" target="on_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <hr>

{%endblock%}