{% extends 'index.html'%}
{% load static%}

{% block extraHeadTag %}

{%endblock%}

{%block content%}
<main>
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/home_nursing_1.jpeg' %}" alt="nursing" class="bd-placeholder-img cover-img"  aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1 class="text-carousel"> Home Nursing</h1>
                        <p class="text-carousel">Seniors can get the care they need while living in the comfort of their domains.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/physical-therapy_3.jpeg'  %}" alt="nursing" class="bd-placeholder-img cover-img"  xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="text-carousel">Physical Therapy</h1>
                        <p class="text-carousel">Some representative placeholder content for the second slide of the carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/special_need_1.webp'%}" class="bd-placeholder-img cover-img"  xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1 class="text-carousel">Special Needs </h1>
                        <p class="text-carousel">Some representative placeholder content for the third slide of this carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                    </div>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row justify-content-around">
            <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <div class="counter-icon">
                        <i class="fa-solid fa-person-cane"></i>
                    </div>
                    <h3>Customer</h3>
                    <span class="counter-value">220</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter blue">
                    <div class="counter-icon">
                        <i class="fa-solid fa-user-nurse"></i>
                    </div>
                    <h3>Employee</h3>
                    <span class="counter-value">90</span>
                </div>
            </div>
        </div>                

        
        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Home Nursing</h2>
                <p class="lead">The type of nurse is determined depending on the patient’s condition. Or the doctor will tell you what kind of nurse your patient needs. 
                    At present Nursing  home care support in Dhaka is very popular all over the world including Palestine. Because most people in today’s world cannot take care of their elderly parents just to be busy. 
                    So people keep accredited nurses at home to take care of their parents.Here are two ways to keep a nurse at home.
                    first way is a 8 hour shift and the second way is a 12 hour shift and the thired way is a 24 hour shift .</p>
            </div>
            <div class="col-md-5">
                <img src="{% static 'images/home_nursing_2.jpeg'%}" alt="Home Nursing" class="cover-image">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Physical Therapy</h2>
                <p class="lead">Whether you’re managing chronic pain, recovering from surgery, 
                    or experiencing mobility issues, at-home physical therapy brings the care and
                    expertise you need right to your doorstep. Consider speaking with your healthcare 
                    professional to determine if at-home physical therapy is right for you.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{% static 'images/physical-therapy_4.jpeg'%}" alt="Physical Therapy" class="cover-image">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Spechial Needs</h2>
                <p class="lead">Children with special needs are children first. And, like all children, 
                    they require a place where they feel physically comfortable, loved, and secure; opportunities to play and learn; people who care about them;
                    and activities that allow them to be successful. Home care for children with 
                    special needs can help provide this ongoing support and medical care when families need it most.</p>
            </div>
            <div class="col-md-5">
                <img src="{% static 'images/special_need_2.jpeg'%}" alt="Physical Therapy" class="cover-image">
            </div>
        </div>
        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->
        
    </div><!-- /.container -->

    <!-- FOOTER -->
    
</main>
{% endblock %}